@using LoveBank.MVC
@model LoveBank.Web.Admin.Models.MachineModuleShowManageModel
@Html.IncludeCSS("~/Content/plug-in/webuploader/webuploader.css")
@Html.IncludeScript("~/Content/plug-in/webuploader/webuploader.js")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeCSS("~/Content/plug-in/webuploader/demo.css")

<div id="p" class="easyui-panel" title="新增一体机授权" data-options="tools:'#tt'">
    @using (Html.BeginForm("PostEdit", "MachineModule", FormMethod.Post, new { name = "AddForm", id = "AddForm" }))
    {
        <table class="form">


            <tr>
                <td class="item_title">
                    模块名称:
                </td>
                <td class="item_input">
                    <input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " id="Name" name="Name"
                           value="@Model.Name" data-options="required:true,validType:'length[2,20]'" /> (必须填)

                </td>
            </tr>
            <tr>
                <td class="item_title">
                    连接Url:
                </td>
                <td class="item_input">
                    <input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " name="LinkUrl" id="LinkUrl"
                           value="@Model.LinkUrl" data-options="required:true,validType:'length[3,500]'" /> (必填)

                </td>
            </tr>
            <tr>
                <td class="item_title">
                    顺序:
                </td>
                <td class="item_input">
                    <input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " name="Sort" id="Sort"
                           value="@Model.Sort"  data-options="required:true,validType:'length[1,5]'" /> (必填)

                </td>
            </tr>
            <tr>
                <td class="item_title">
                    自定义唯一标识:
                </td>
                <td class="item_input">
                    <input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " name="ModuleKey" id="ModuleKey"
                           value="@Model.ModuleKey"   data-options="required:true,validType:'length[1,50]'" /> (必填)

                </td>
            </tr>
            <tr>
                <td class="item_title">
                    压下图标:
                </td>
                <td class="item_input">
                    <input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " name="Icon" id="Icon"
                           value="@Model.Icon" data-options="required:false,validType:'length[1,200]'" />
                </td>
            </tr>
            <tr>
                <td class="item_title">
                    显示ICON:
                </td>
                <td class="item_input">
                    <div id="uploader" class="wu-example" style="width:700px;margin-left:0px;">
                        <div class="queueList" style=" margin:0px; ">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker"></div>
                                <p>或将文件拖到这里,多可选5个文件（只能上传视频或者图片）</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div><div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="item_title">
                    模块覆盖区域:
                </td>
                <td class="item_input">
                    <input type="hidden" name="DeptId" id="DeptId" value="@Model.DeptId" />
                    <input type="text" class="easyui-validatebox" value="@Model.Department.Name" data-options="prompt:'必填.',required:true" style="height:25px; width:260px;   " id="CoverCommunity" name="CoverCommunity" onclick="showMenu(); return false;" />(必填)
                    <div id="menuContent" class="menuContent" style="display:none; z-index:10000;width:260px;  position: absolute;">
                        <ul id="ztree" class="ztree" style="margin-top:0; background-color:#edf3f7;  overflow:scroll; border:solid 1px #ccc;"></ul>
                    </div>

                </td>
            </tr>
     
            <tr>
                <td class="item_title"></td>
                <td class="item_input2">
                    <!--隐藏元素-->
                    <div style="padding:5px">
                        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="addFromSubmit"> &nbsp  &nbsp &nbsp &nbsp &nbsp 修改 &nbsp  &nbsp &nbsp &nbsp &nbsp </a>

                    </div>

                </td>
            </tr>

        </table>
    }


</div>
<div id="tt">

    <a href="@Url.Action("Index", "MachineModule")" class="icon-back" title="返回列表"></a>
</div>

<style>
    .panel-tool {
        right: initial;
        margin-left: 100px;
    }
</style>


@Html.IncludeScript("~/Content/JS/MachineModule/edit.js")
@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")

@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
<script>
    var sourceFileListObj = eval(@Html.Raw( Json.Encode(@Model.SourceFileList)));
    var upLoader = $("#uploader").WebUploaderMVC({ Controllers: "/MachineModule/", action: "/UpLoadProcess", sourceFileList: sourceFileListObj });

    function GetFromJsonData() {
        var json = {
            "Name": $("#Name").val(),
            "LinkUrl": $("#LinkUrl").val(),
            "DeptId": $("#DeptId").val(),
            "Sort": $("#Sort").val(),
            "ModuleKey": $("#ModuleKey").val(),
            "Icon": $("#Icon").val(),
            "ID": $("#ID").val(),
            "SourceFileList": upLoader.getSourceFileList()

        };
        return json;
    }


    $("#addFromSubmit").click(function () {

        if (!$("#AddForm").form('validate')) {
            return false;
        }
        var objJson = GetFromJsonData();
        if (objJson.SourceFileList == null || objJson.SourceFileList.length < 1 || upLoader.getfileCount() < 1) {
            alert("请先选择并上传至少一文件");
            return false;
        }

        if (objJson.SourceFileList.length != upLoader.getfileCount()) {
            alert("还有文件未上传");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/MachineModule/PostEdit",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(objJson),
            dataType: "json",
            success: function (data) {
                if (data.Status == true) {
                    alert("添加成功");
                    $('#AddForm').form('clear');
                    location.reload();

                } else {
                    alert(data.Info);
                }
            },
            error: function (data) {
                alert("添加失败");
            }
        });
    });

</script>





<style>
    .imgWrap {
        word-wrap: break-word;
        word-break: normal;
        vertical-align: bottom;
        /*margin-top:20px;*/
    }
</style>

<script type="text/javascript">


    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false

        },
        check: {
            enable: true ,
            chkStyle: "radio",
            radioType: "all"
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "Id",
                pIdKey: "PId",
                rootPId: ""
            },
            key: {
                name: "Name"
            }

        },
        callback: {
            beforeCheck: beforeCheck,
            onCheck: onCheck
        }
    };

    var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()));


    function beforeCheck(treeId, treeNode) {

    }
    function onCheck(e, treeId, treeNode) {
        $("#DeptId").val(treeNode.Id);
        $("#CoverCommunity").val(treeNode.Name);
    }

    function showMenu() {
        $("#menuContent").slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    }
    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
            hideMenu();
        }
    }


    $(document).ready(function () {
        $.fn.zTree.init($("#ztree"), setting, zNodes);
    });

</script>





