<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>@ViewBag.DeptIdName--爱心银行</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="keywords" content="爱心银行,社区,小区,明珠社区爱心银行" />
        <meta name="description" content="爱心银行由我公司运行支持。" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        @*<link rel="icon" href="@Url.Content("~/Content/favicon.ico")" type="/image/x-icon" />*@
  
        @RenderSection("Head", required: false)
        <link href="@Url.Content("~/Content/Web/css/pc_public.css")" rel=" stylesheet" />
        <link href="@Url.Content("~/Content/Web/css/yiti_public.css")" rel=" stylesheet" />
      
        <script type="text/javascript" src="@Url.Content("~/Content/Web/js/jquery-1.8.3.js") "></script>
        <script type="text/javascript" src="@Url.Content("~/Content/Web/js/index.js") "></script>
     
    </head>
    <body>

        <div id="header">
            @ViewBag.DeptIdName
            <img src="@Url.Content("~/Content/Web/img/logo2.png")" alt="logo">
        
            <ul class="ul1">
                <li class="active"><a href="###">社区首页</a></li>
                <li><a href="###">关于我们</a></li>
                <li><a href="###">志愿者队伍</a></li>
                <li><a href="###">爱心兑换</a></li>
                <li><a href="###">收支公示</a></li>
                <li><a href="###">志愿者动态</a></li>
                <li><a href="###">爱心集市</a></li>
      
            </ul>
            <script type="text/javascript">
                $("#header .ul1").find("li").each(function () {
                    $(this).click(function () {

                        $(this).addClass("active").siblings().removeClass('active')
                    })
                })
            </script>
            <ul class="ul2 fr">
                <li><img src="@Url.Content("~/Content/Web/img/user.png")" alt="use"><a href="###">登录</a><a href="###">注册</a></li>
            </ul>

        </div>

        @RenderBody()
        <!--footer begin-->
        @Html.Action("Footer", "Public")
        <!-- footer end-->
        @RenderSection("Footer", required: false)
      
    </body>
    @RenderSection("Foot", required: false)
</html>