@using LoveBank.MVC

@Html.IncludeCSS("~/Content/plug-in/webuploader/webuploader.css")
@Html.IncludeScript("~/Content/plug-in/webuploader/webuploader.js")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeCSS("~/Content/plug-in/webuploader/demo.css")


<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"> </script>

@Html.IncludeCSS("~/Content/plug-in/summernote/summernote.css")
@Html.IncludeScript("~/Content/plug-in/summernote/summernote.js")
@Html.IncludeScript("~/Content/plug-in/summernote/summernote-zh-CN.js")
<script type="text/javascript">
    $(function () {
        $('.summernote').summernote({
            height: 400,
            width: 800,
            lang: 'zh-CN'

        });

        //$('form').on('submit', function (e) {
        //    e.preventDefault();
        //    alert($('.summernote').code());
        //});
    });
</script>
<style>
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
</style>

<div id="p" class="easyui-panel" title="新增活动总结" data-options="tools:'#tt'">
    @using (Html.BeginForm("PostAddTeamProjectSummary", "TeamProject", FormMethod.Post, new { name = "AddForm", id = "AddForm" }))
    {
        <table class="form">
          
            <tr>
                <td class="item_title">
                    活动名称:
                </td>
                <td class="item_input">
                    @ViewBag.TeamProjectName
                    @*<input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " id="TeamProjectName" name="TeamProjectName"
                           value="@ViewBag.TeamProjectName"  readonly="readonly" />*@  

                </td>
            </tr>
            @*<tr>
                <td class="item_title">
                    活动副标题:
                </td>
                <td class="item_input">
                    <input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " id="SubTitle" name="SubTitle"
                           data-options="required:true,validType:'length[2,20]'" /> (必须填)

                </td>
            </tr>*@
            <tr>
                <td class="item_title">
                    活动说明:
                </td>
                <td class="item_input">
                    @*<textarea class="easyui-validatebox"   style="height:60px; width:460px;   " id="Desc" name="Desc"
                            > </textarea>*@
                    <textarea name="text" class="summernote" style="margin-bottom: 0px;" id="contents" required="required" title="Contents"></textarea>

                </td>
            </tr>

            @*<tr>
                <td class="item_title">
                    活动掠影:
                </td>
                <td class="item_input">
                    <div id="uploader" class="wu-example uploader" style="width:700px;margin-left:0px;">
                        <div class="queueList" style=" margin:0px; ">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker"></div>
                                <p>或将图片拖到这里,多可选5个图片</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div><div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2" class="filePicker2"></div><div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>*@
        
            <tr>
                <td class="item_title"></td>
                <td class="item_input2">
                    <!--隐藏元素-->
                    <div style="padding:5px">
                        <input type="hidden" id="teamPojectId" name="teamPojectId" value="@ViewBag.TeamPojectId" />
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="addFromSubmit"> &nbsp  &nbsp &nbsp &nbsp &nbsp 新增 &nbsp  &nbsp &nbsp &nbsp &nbsp </a>

                    </div>

                </td>
            </tr>

        </table>
    }


</div>
<div id="tt">

    <a href="@Url.Action("AddTeamProjectSummaryIndex", "TeamProject")?teamPojectId=@ViewBag.TeamPojectId" class="icon-back" title="返回列表"></a>
</div>

<style>
    .panel-tool {
        right: initial;
        margin-left: 100px;
    }

    .imgWrap {
        word-wrap: break-word;
        word-break: normal;
        vertical-align: bottom;
        /*margin-top:20px;*/
    }

    .uploader .placeholder {
        padding-top: 0px;
    }

    .queueList {
        width: 800px;
    }

    .uploader .queueList.filled {
        padding: 0px;
    }
</style>


@Html.IncludeScript("~/Content/JS/MachineModule/edit.js")
@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")

@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
@Html.IncludeScript("~/Content/plug-in/My97DatePicker/WdatePicker.js")
<script>
    @*var sourceFileListObj = eval(@Html.Raw( Json.Encode(@Model.SourceFileList)));*@
    //var sourceFileListObj = null;
    //var upLoader = $("#uploader").WebUploaderMVC({ Controllers: "/TeamProject/", action: "/UpLoadProcess", sourceFileList: sourceFileListObj });
    ///调用文件上传
  

    function GetFromJsonData() {

        var json = {
            "TeamProjectId": $("#teamPojectId").val(),
            "Desc": $('.summernote').code(),
            "SubTitle": $("#SubTitle").val()

        };
        return json;
    }


    $("#addFromSubmit").click(function () {

        if (!$("#AddForm").form('validate')) {
            return false;
        }
        var objJson = GetFromJsonData();
   

        $.ajax({
            type: "POST",
            url: "/TeamProject/PostAddTeamProjectSummary",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(objJson),
            dataType: "json",
            success: function (data) {
                if (data.Status == true) {
                    alert("添加成功");
                   
                    location.reload();

                } else {
                    alert(data.Info);
                }
            },
            error: function (data) {
                alert("添加失败");
            }
        });
    });

</script>





<style>
    .imgWrap {
        word-wrap: break-word;
        word-break: normal;
        vertical-align: bottom;
        /*margin-top:20px;*/
    }
</style>
@*显示行政区域tree*@
@*<script type="text/javascript">
        var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()));

        $("#CoverCommunity").TreeMvc({Department_List:zNodes});
    </script>*@





