@model LoveBank.Web.Models.HomeModel

<link href="@Url.Content("~/Content/Web/css/index.css")" rel=" stylesheet" />

    <div id="bgimg" class="x_ind_bgimg">
        <script type="text/javascript">
            window.onload = function () {
                var runimg = new runImg();
                runimg.imgurl = [
                "<img src=\"/Content/Web/img/bg1.jpg\"/>",
                "<img src=\"/Content/Web/img/bg2.jpg\"/>",
                "<img src=\"/Content/Web/img/bg3.jpg\"/>",
                "<img src=\"/Content/Web/img/bg4.jpg\"/>"];

                runimg.playTime = 3000;
                runimg.info("#bgimg");

            }
        </script>
    </div>
    <div id="main">
        <div class="x_ind_1  clearfix">
            <div class="fl lef">
                <ul>
                    <li class="lis"><span>NEWS </span>网站公告</li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">分享阅读行的 感受文化魅力分享阅读行的 感受文化魅力</a><span class="fr">2015-05-31</span></li>
                </ul>
            </div>
            <div class="fr rig">
                <img src="@Url.Content("~/Content/Web/img/aboutus.jpg")" alt="aboutus">
                <p>在爽爽的贵阳，有一颗耀眼的高原明珠——花溪，在浪漫的花溪，有一个生态宜居的地方——明珠社区。</p>
                <p>明珠社区位于花溪区中心城区，毗邻花溪公园和国家级城市湿地公园，面积5.1平方公里，辖溪北、朝阳两个居委会，总人口4.3万人，常住人口40613，流动人口2825人。社区内有贵州大学、贵州民族大学、省职工疗养院、花溪区人民医院、 花溪小学等多家院校及企事业单位。</p>
                <p>社区拥有纯熟的都市生活配套设施，集商业、金融、医疗、娱乐、教育于一体，以“生态宜居、幸福家园”需求为宗旨，以“零距离服务群众”为理念，全力打造“生态宜居社区”。</p>
                <p class="text"><a href="###">MORE ></a></p>
            </div>
        </div>
        <div class="x_ind_9 mb40">
            社区爱心银行动态
            <p>
                <i class="fl"></i>
                <i class="fr"></i>
            </p>
        </div>
        <div class="x_ind_2">
            <div class="bank1 fl">
                <img class="fl" src="@Url.Content("~/Content/Web/img/volunteer.png")" alt=""><ul>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                </ul>
            </div>
            <div class="bank1 fl">
                <img class="fl" src="@Url.Content("~/Content/Web/img/vrank.png")" alt="">
                <ul class="rank">
                    <li><a href="###" class="dis-ib">1、文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">2、文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">3、文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">4、文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">5、文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">6、文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                </ul>
            </div>

            <div class="bank1 fl">
                <img class="fl" src="@Url.Content("~/Content/Web/img/balance.png")" alt="">
                <ul>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                </ul>
            </div>

            <div class="bank1 fl">
                <img class="fl" src="@Url.Content("~/Content/Web/img/vteam.png")" alt="">
                 <ul>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                    <li><a href="###" class="dis-ib">文艺志愿者走进云南,文艺志愿者走进云南</a><span class="fr">2015-05-31</span></li>
                </ul>
            </div>
        </div>

        <div class="x_ind_9 x_ind_8 mb30 mt50">
            爱心超市及兑换
            <p>
                <i class="fl"></i>
                <i class="fr"></i>
            </p>
            <img src="@Url.Content("~/Content/Web/img/heart.png")" alt="">
        </div>

        <!-- 一下部分 -->


        <div class="x_ind_3 mb30">


            <div class="l_ind_3_content">

                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                   </div>

                </div>




                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                    </div>

                </div>



                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                   </div>

                </div>



                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                   </div>

                </div>



                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                   </div>

                </div>



                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                   </div>

                </div>



                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                   </div>

                </div>


                <div class="l_ind_3_con_img">
                    <div class="img_top">
                        <div class="l_ind_3_cimg_img">
                            <a href="#"><img src="@Url.Content("~/Content/Web/img/product_01.png")" /></a>
                            <div class="img_footer">
                                <a href="#">银钥匙—300积分兑换</a>
                            </div>
                        </div>

                        <div class="l_ind_3_content_one">
                            <a href="#">钥匙包</a>
                        </div>

                        <div class="l_ind_3_content_two">
                            <a class="money" href="#">￥300</a>
                            <a class="shopcar" href="#"><img src="@Url.Content("~/Content/Web/img/shopcar_05.jpg")"> 去兑换></a>
                        </div>
                    </div>

                    <div class="l_ind_3_content_tre">
                        <img src="@Url.Content("~/Content/Web/img/shdow_11.png")">

                   </div>

                </div>




            </div>

        </div>


    </div>
