@using LoveBank.MVC
@model LoveBank.Web.Admin.Models.GridMemberModel
@Html.IncludeCSS("~/Content/plug-in/webuploader/webuploader.css")
@Html.IncludeScript("~/Content/plug-in/webuploader/webuploader.js")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeCSS("~/Content/plug-in/webuploader/demo.css")


<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"> </script>
<style>
    .panel-tool {
        right: initial;
        margin-left: 100px;
    }

    #uploader .placeholder {
        padding-top: 0px;
    }

    .queueList {
        width: 300px;
    }

    #uploader .queueList.filled {
        padding: 0px;
    }
</style>

@Html.IncludeCSS("~/Content/plug-in/summernote/summernote.css")
@Html.IncludeScript("~/Content/plug-in/summernote/summernote.js")


<script type="text/javascript">
    $(function () {
        $('.summernote').summernote({
            height: 400,
            width: 800
        });


    });
</script>
<style>
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
</style>




<div id="p" class="easyui-panel" title="新增网格员" data-options="tools:'#tt'">
    @using (Html.BeginForm("PostEdit", "LBGridMember", FormMethod.Post, new { name = "AddForm", id = "AddForm" }))
    {
        <table class="form">

            <tr>
                <td class="item_title">
                    头像:
                </td>
                <td class="item_input">
                    <div id="uploader" class="wu-example uploader" style="width:700px;margin-left:0px;">
                        <div class="queueList" style=" margin:0px; ">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker"></div>
                                <p>或将文件拖到这里,只能上传1个图片</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div><div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2" class="filePicker2"></div><div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            @*<tr>
                    <td class="item_title">
                        服务小区:
                    </td>
                    <td class="item_input">
                        <input type="hidden" name="DeptId" id="DeptId" />
                        <input type="text" class="easyui-validatebox" data-options="prompt:'必填.',required:true" style="height:25px; width:260px;   " id="CoverCommunity" name="CoverCommunity"  />(必填)
                        <div id="menuContent" class="menuContent" style="display:none; z-index:10000;width:260px;  position: absolute;">
                            <ul id="ztree" class="ztree" style="margin-top:0; background-color:#edf3f7;  overflow:scroll; border:solid 1px #ccc;"></ul>
                        </div>

                    </td>
                </tr>*@
            <tr>
                <td class="item_title">
                    服务小区:
                </td>
                <td class="item_input">
                    <input type="hidden" name="DeptId" id="DeptId" value="@Model.VDeptId" />
                    <input type="text" class="easyui-validatebox" data-options="prompt:'必填.',required:true" style="height:25px; width:260px;   "
                           value="@Model.VDeptName" id="CoverCommunity" name="CoverCommunity" />(必填)
                    <div id="menuContent" class="menuContent" style="display:none; z-index:10000;width:260px;  position: absolute;">
                        <ul id="ztree" class="ztree" style="margin-top:0; background-color:#edf3f7;  overflow:scroll; border:solid 1px #ccc;"></ul>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="item_title">网格号:</td>
                <td class="item_input">
                    <input type="text" class=" easyui-validatebox" missingmessage="必须填写"
                           data-options="required:true" value="@Model.GridNo" id="GridNo" name="GridNo" />
                </td>
            </tr>
            <tr>
                <td class="item_title">网格员姓名:</td>
                <td class="item_input">
                    <input type="text" class="easyui-validatebox" missingmessage="必须填写"
                           data-options="required:true" value="@Model.GridName"  id="GridName" name="GridName" />
                </td>
            </tr>
            <tr>
                <td class="item_title">网格员电话:</td>
                <td class="item_input">
                    <input type="text" class="easyui-validatebox" missingmessage="必须填写"
                           data-options="required:true" value="@Model.GridPhone"  id="GridPhone" name="GridPhone" />
                </td>
            </tr>
            <tr>
                <td class="item_title">
                    描述:
                </td>
                <td class="item_input" style="float:left;">
                    @*<input class="easyui-validatebox" type="text" style="height:25px; width:260px;   " id="Desc" name="Desc"
                        data-options="validType:'length[8,20]'" /> (必须填)*@
                    <textarea name="text" class="summernote" style="margin-bottom: 0px;" id="contents" required="required" title="Contents">@Model.Desc</textarea>
                </td>
            </tr>

            <tr>
                <td class="item_title"></td>
                <td class="item_input2">
                    <!--隐藏元素-->
                    <div style="padding:5px">
                        <input  type="hidden" id="Id" value="@Model.Id" name="Id"/>
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="addFromSubmit"> &nbsp  &nbsp &nbsp &nbsp &nbsp 保存修改 &nbsp  &nbsp &nbsp &nbsp &nbsp </a>

                    </div>

                </td>
            </tr>

        </table>
    }


</div>
<div id="tt">

    <a href="@Url.Action("Index", "LBGridMember")" class="icon-back" title="返回列表"></a>
</div>

<style>
    .panel-tool {
        right: initial;
        margin-left: 100px;
    }

    .imgWrap {
        word-wrap: break-word;
        word-break: normal;
        vertical-align: bottom;
        /*margin-top:20px;*/
    }

    #uploader .placeholder {
        padding-top: 0px;
    }

    .queueList {
        width: 800px;
    }

    #uploader .queueList.filled {
        padding: 0px;
    }
</style>


@Html.IncludeScript("~/Content/JS/MachineModule/edit.js")
@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")

@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
@Html.IncludeScript("~/Content/plug-in/My97DatePicker/WdatePicker.js")
<script>
    @*var sourceFileListObj =new Array();
    var sourceFile ={};
    sourceFile.Domain="@Model.GridHeaderImg";
    sourceFile.Path="";
    sourceFile.FileName="@Model.GridPhone+@Model.Id";
    sourceFile.Id="@Model.GridPhone+@Model.Id";
    sourceFileListObj.push(sourceFile);*@
    //var sourceFileListObj = null;
    var sourceFileListObj = eval(@Html.Raw( Json.Encode(@Model.SourceFileList)));
    var upLoader = $("#uploader").WebUploaderMVC({ Controllers: "/LBGridMember/", action: "/UpLoadProcess", sourceFileList: sourceFileListObj });
    ///调用文件上传
  //  var upLoader = $("#uploader").WebUploaderMVC({ Controllers: "/LBGridMember/", action: "/UpLoadProcess" });

    function GetFromJsonData() {
        var json = {
            "VDeptId": $("#DeptId").val(),
            "GridNo": $("#GridNo").val(),
            "GridName": $("#GridName").val(),
            "GridPhone": $("#GridPhone").val(),
            "Desc": $('.summernote').code(),
            "Id": $("#Id").val(),
            "SourceFile": upLoader.getSourceFileList()[0]

        };
        return json;
    }


    $("#addFromSubmit").click(function () {

        if (!$("#AddForm").form('validate')) {
            return false;
        }
        var objJson = GetFromJsonData();
        if (objJson.SourceFile == null ) {
            alert("请先选择并上传至少一文件");
            return false;
        }


        $.ajax({
            type: "POST",
            url: "/LBGridMember/PostEdit",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(objJson),
            dataType: "json",
            success: function (data) {
                if (data.Status == true) {
                    alert("修改成功");
                    //$('#AddForm').form('clear');
                    location.reload();

                } else {
                    alert(data.Info);
                }
            },
            error: function (data) {
                alert("添加失败");
            }
        });
    });

</script>





<style>
    .imgWrap {
        word-wrap: break-word;
        word-break: normal;
        vertical-align: bottom;
        /*margin-top:20px;*/
    }
</style>
@*显示行政区域tree*@
<script type="text/javascript">
    var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()));

    $("#CoverCommunity").TreeMvc({Department_List:zNodes});
</script>





