@model  LoveBank.Web.Admin.Models.MachineModel
@using MvcContrib.UI.Pager;
@using LoveBank.Common
@using LoveBank.MVC
@using LoveBank.MVC.UI
@using MvcContrib.UI.Grid
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>绑定产品</title>
    @Html.IncludeCSS("~/Content/Css/style.css")
    @Html.IncludeCSS("~/Content/EasyUI/themes/default/easyui.css")
    @Html.IncludeCSS("~/Content/EasyUI/themes/icon.css")


</head>
<body>


    @*<div id="button_row">
        <a class="easyui-linkbutton" data-options="" id="bingproductId" href="javascript:void()">绑定终端</a>

    </div>*@

    <form id="indexFrom">

        <div style="float: left;  text-align: center;">
            <span>
                <a class="easyui-linkbutton" data-options="" id="bingproductId" href="javascript:void()">绑定终端</a>
            </span>
            <span style="margin-left:30px;">
                <span>


                   名称<input type="text" name="Name" style=" width:100px;" value="@Model.Name" />
                   编码<input type="text" name="MachineCode" style=" width:100px;" value="@Model.MachineCode" />

                    <input type="hidden" name="DeptId" id="DeptId" value="@Model.DeptId" />
                   所属区域 <input type="text" class="easyui-validatebox" value="@Model.DeptIdName" data-options="prompt:'必填.',required:true" style="height:25px; width:260px;   " id="CoverCommunity" name="DeptIdName" onclick="showMenu(); return false;" />(必填)
                    <div id="menuContent" class="menuContent" style="display:none;margin-left:450px; z-index:10000;width:260px;  position: absolute;">
                        <ul id="ztree" class="ztree" style="margin-top:0; background-color:#edf3f7;  overflow:scroll; border:solid 1px #ccc;"></ul>
                    </div>

                </span>

                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">查询</a>
            </span>
        </div>
    </form>
    <div class="grid_box">

        @Html.Grid(Model.MachineModelList).Columns(column =>
    {
        column.CheckBox(x => x.Id, x => x.ProductId.HasValue);
        column.For(x => x.Id).Named("ID");
        column.For(x => x.Name ?? "").Named("终端名称");
        column.For(x => x.MachineCode).Named("终端唯一码");
        column.For(x => x.Desc).Named("说明");
        column.For(x => x.Title).Named("标题");
        column.For(x => x.Department.Name).Named("终端所属区域");

        column.For(x => x.AddTime.ToString("yyyy-MM-dd")).Named("创建时间");
        column.For(x => x.State).Named("状态");

        //column.Buttons(btns => btns.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.ID }))
        //    .Add(x => Html.ScriptLink("删除", "del({0})", x.ID))

        //    );
    }).Complex(ViewData)

    </div>

    @Html.Pager(Model.MachineModelList)
    <input type="hidden" id="productId" name="productId" value="@ViewBag.ProductId" />

    @Html.IncludeScript("~/Content/EasyUI/jquery.min.js")
    @Html.IncludeScript("~/Content/EasyUI/jquery.easyui.min.js")
    @Html.IncludeScript("~/Content/EasyUI/easyui-lang-zh_CN.js")
    @Html.IncludeScript("~/Content/Js/jquery.timer.js")
    @Html.IncludeScript("~/Content/Js/common.js")
    @Html.IncludeScript("~/Content/Js/jquery.bgiframe.js")
</body>
</html>


@Html.IncludeScript("~/Content/JS/MachineModule/edit.js")
@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")

@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
@*显示行政区域tree*@
<script type="text/javascript">
    var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()));

    $("#CoverCommunity").TreeMvc({Department_List:zNodes});
</script>
<script type="text/javascript">

    $("#CoverCommunity").change(function(){
    
       

        if (!$(this).val()||$(this).val()=="") {
            $("#DeptId").val("");
        }
    });
    function del(id) {

        var url = '@Url.Action("Delete")' + '?id=' + id;
        deleteMethod(id, "Delete");

    }

    function submitForm() {
        // var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
        $('#indexFrom').submit();
    }

    var machineIdInitList = new Array();//初始id
    @foreach (var item in @Model.MachineModelList)
	{
        if (item.ProductId.HasValue)
        {
            
            @Html.Raw("machineIdInitList.push(" + item.Id + ");");
        }
	}


    function GetFromJsonData() {
        //或许选择项的值
        var machineIdList = new Array();
        $("input[name='key']:checkbox:checked").each(function () {
            machineIdList.push($(this).val());
        })
        

       
       

        //var machineIdInitList = new Array();//初始id
        //$("input[name='key']").each(function () {
        //    machineIdInitList.push($(this).val());
        //})

        var json = {
            "productId": $("#productId").val(),
            "machineIdList": machineIdList,
            "machineIdInitList": machineIdInitList

        };
        return json;
    }
    $("#bingproductId").click(function () {

        var objJson = GetFromJsonData();
        $.ajax({
            type: "POST",
            url: "/Product/PostBindMachine",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(objJson),
            dataType: "json",
            success: function (data) {
                if (data.Status == true) {
                    alert("绑定成功");

                    location.reload();

                } else {
                    alert(data.Info);
                }
            },
            error: function (data) {
                alert("绑定失败");
            }
        });
    });


</script>
