@model  LoveBank.Web.Admin.Models.ProductSelectModel
@using MvcContrib.UI.Pager;
@using LoveBank.Common
@using LoveBank.MVC
@using LoveBank.MVC.UI
@using MvcContrib.UI.Grid

@section HeadSection {
    <script type="text/javascript">

        function del(id) {

            var url = '@Url.Action("Delete")' + '?id=' + id;
            deleteMethod(id, "Delete");

        }

        var $win;

        function bingProduct(id, productName) {
            $win = $('#w').window({
                title: "被绑定产品:" + productName + "",
                width: 900,
                height: 550,
                shadow: true,
                modal: true,
                //iconCls: 'icon-add',
                closed: true,
                //minimizable: false,
                //maximizable: false,
                //collapsible: false
            });

            $win.window('open');
            var url = '@Url.Action("BindMachine")' + '?ProductId=' + id;
            $("#MachineBindProduct").attr("src", url);
        }
        function submitForm() {
            // var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
            $('#indexFrom').submit();
        }
    </script>

}


@*<div id="button_row">

    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="@Url.Action("Add")">新增产品</a>
</div>*@

<form id="indexFrom">

    <div style="float: left;  text-align: center;">
        <span>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="@Url.Action("Add")">新增产品</a>
        </span>
            <span style="margin-left:30px;">
                <span>

                 
                    产品名称<input type="text" name="Name" style=" width:100px;" value="@Model.Name" />
                    产品条形码<input type="text" name="BarCode" style=" width:100px;" value="@Model.BarCode" />
                   
                </span>

                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">查询</a>
            </span>
</div>
</form>
<div class="grid_box">

    @Html.Grid(Model.ProductList).Columns(column =>
    {
        //column.CheckBox(x => x.Id);
        column.For(x => x.Id).Named("ID");
        column.For(x => x.IsOwn?"是":"否").Named("是否我的");
        column.For(x => x.Name).Named("名称");
        column.For(x => x.DeptIdName).Named("所属社区");
        column.For(x => x.Price).Named("价格");
        column.For(x => x.BarCode).Named("条形码");
        column.For(x => x.CostScore ).Named("兑现积分");
        column.For(x => x.Count).Named("库存");
   
        column.For(x => x.StartTime.ToString("yyyy-MM-dd")).Named("有效时间");
        column.For(x => x.EndTime.ToString("yyyy-MM-dd")).Named("过期时间");
        //column.For(x => (x.Department ?? new LoveBank.Core.Domain.Department()).Name ?? "").Named("所属区域");
        column.For(x => x.State).Named("状态");

        column.Buttons(btns => btns.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.Id }))
            .Add(x => x.IsOwn ? Html.ScriptLink("绑定终端", "bingProduct({0},'{1}')", x.Id, x.Name) : Html.ScriptLink("",""))
            .Add(x => Html.ScriptLink("删除", "del({0})", x.Id))

            );
    }).Complex(ViewData)

</div>

@Html.Pager(Model.ProductList)

<div id="w" class="easyui-window" title="绑定商品" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:800px;height:450px;padding:0px;">
    <iframe scrolling="auto" id='MachineBindProduct' frameborder="0" src="" style="width:100%;height:100%;"></iframe>
</div>