@model LoveBank.Web.Admin.Models.VolModelSelect
@using MvcContrib.UI.Pager;
@using LoveBank.Common
@using LoveBank.MVC
@using LoveBank.MVC.UI
@using MvcContrib.UI.Grid

@section HeadSection {
    <script type="text/javascript">

        function del(id) {

            var url = '@Url.Action("Delete")' + '?id=' + id;
            deleteMethod(id, "Delete");

        }

        function volAddScoreRecorde(id) {

            var url = '@Url.Action("VolAddScore")' + '?volId=' + id;

            showAjaxResult(url, "增加积分", 600, 285);
        }
        function volBindNFC(id) {

            var url = '@Url.Action("VolBindNFC")' + '?volId=' + id;

            showAjaxResult(url, "绑定NFC卡", 600, 285);
        }
        
        function submitForm() {
            // var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
            $('#indexFrom').submit();
        }
    </script>

}


@*<div id="button_row">

    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="@Url.Action("Add")">新增</a>
</div>*@
<form id="indexFrom">

    <div style="float: left;  text-align: center;">
        <span>
            @*<a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="新增" href="@Url.Action("Add")">新增</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="导入志愿者" href="javascript: AddVolExcel()">导入志愿者</a>
            <a class="easyui-linkbutton" href="@Url.Content("~/Content/志愿者导入模板.xls")">下载志愿者Excel模板</a>*@
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="@Url.Action("Add")">新增</a>
          </span>
        <span style="margin-left:30px;">
            <span >

                @*<select id="Type" class="easyui-combobox" data-options="" name="Type" style="width: 120px; ">
                    <option value="" selected="selected">全部</option>
                    <option value="普通用户">普通用户</option>
                    <option value="志愿者">志愿者</option>
                </select>*@

                NFC<input type="text" name="CardNum" style=" width:100px;"  value="@Model.NFC" />
                手机号<input type="text" name="Phone" style=" width:100px;" value="@Model.Phone" />
                姓名<input type="text" name="RealName" style=" width:80px;" value="@Model.RealName" />
            </span>

            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">查询</a>
        </span>
    </div>
</form>
<div class="grid_box">

    @Html.Grid(Model.VolList).Columns(column =>
    {
        //column.CheckBox(x => x.Id);
        column.For(x => x.Vol.ID).Named("ID");
        column.For(x => x.Vol.Phone ?? "").Named("手机号");
        column.For(x => x.Vol.RealName ?? "").Named("姓名");
        column.For(x => x.Vol.Score).Named("积分");
        column.For(x => x.Vol.Sex).Named("性别");
        column.For(x => x.Vol.Age).Named("年龄");
        //column.For(x => x.Vol.AddTime.ToString("yyyy-MM-dd")).Named("注册时间");
        column.For(x => x.Department.Name).Named("居住社区");
        column.For(x => x.Vol.Address).Named("居住详细地址");
        //column.For(x => (x.Department ?? new LoveBank.Core.Domain.Department()).Name ?? "").Named("所属区域");
   

        column.Buttons(btns => btns.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.Vol.ID }))
            .Add(x => Html.ScriptLink("增加积分", "volAddScoreRecorde({0})", x.Vol.ID))
            .Add(x => Html.ScriptLink("绑定NFC卡", "volBindNFC({0})", x.Vol.ID))
            
            );
    }).Complex(ViewData)

</div>

@Html.Pager(Model.VolList)